@import '../../../styles/generals';

.wrapper {
  padding: 80px 0 24px 0;

  @include onLaptopAndUp {
    padding: clamp(6vw, 6vw, 116px) 0 clamp(6.8vw, 6.8vw, 132px) 0;
  }
}

.content {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1.5rem;

  @include onLaptopAndUp {
    grid-template-columns: 0.5fr 1fr;
    gap: clamp(4.1vw, 4.1vw, 80px);
  }
}

.title {
  @include titleSmall;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include onLaptopAndUp {
    gap: clamp(1.25vw, 1.25vw, 24px);
  }
}