@import '../../../../styles/generals';

.FAQItem {
  padding: 16px;

  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 8px;

  cursor: pointer;

  @media (hover: hover) {
    @include onHover {
      .questionIcon {
        transform: scale(1.2);
      }
    }
  }

  @include onLaptopAndUp {
    padding: clamp(1.45vw, 1.45vw, 28px);

    border-radius: 24px;
  }
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: margin-bottom $transitionDuration ease-in-out;

  &.active {
    margin-bottom: 8px;

    @include onLaptopAndUp {
      margin-bottom: clamp(1vw, 1vw, 20px);
    }
  }
}

.questionTitle {
  font-weight: $fontWeightMedium;
  color: $colorWhite;

  @include onTabletAndUp {
    font-size: $text-18;
  }

  @include onLaptopAndUp {
    font-size: clamp(1.45vw, 1.45vw, 28px);
  }
}

.questionIcon {
  position: relative;

  width: 40px;
  height: 40px;

  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: #FFFFFF21;

  transition-duration: $transitionDuration;

  &::before, &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    height: 1px;
    width: 10px;

    transform: translate(-50%, -50%);

    background-color: $colorWhite;

    @include onLaptopAndUp {
      height: 2px;

      width: 0.9vw;
      max-width: 18px;
    }
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-90deg);

    transition: opacity $transitionDuration ease-in-out;
  }

  &.active {
    &::after {
      opacity: 0;
    }
  }

  @include onLaptopAndUp {
    width: 3vw;
    max-width: 58px;

    height: 3vw;
    max-height: 58px;
  }
}

.content {
  overflow: hidden;

  transition: height $transitionDuration ease-in-out, padding $transitionDuration ease-in-out;
}

.answerText {
  font-size: $text-14;

  @include onLaptopAndUp {
    font-size: clamp(1.1vw, 1.1vw, 21px);
  }
}