@import '../../../styles/generals';

.button {
  max-width: 215px;
  width: 100%;

  padding: 7px 10px;

  display: none;
  justify-content: center;
  align-items: center;

  font-size: $text-18;
  font-weight: $fontWeightSemiBold;
  text-transform: uppercase;

  border-radius: 48px;

  color: $colorWhite;
  background-color: $colorPrimary;

  transition: $transitionDuration;

  @include onHover {
    background-color: $colorSecondary;
  }

  @include onActive {
    background-color: rgba(134, 18, 74, 0.7);
  }

  @include onLaptopAndUp {
    display: flex;
  }

  &.secondary {
    max-width: 230px;

    display: flex;

    text-transform: capitalize;

    background-color: $colorWhite;
    color: $colorPrimary;

    @include onHover {
      background-color: $colorBackground;
    }

    @include onTabletAndUp {
      max-width: 285px;

      font-size: $text-24;
    }
  }
}