@import '../../../styles/generals';

.button {
  width: 100%;
  max-width: 230px;

  padding: 8px 10px;

  display: none;
  justify-content: center;
  align-items: center;

  font-weight: $fontWeightSemiBold;
  text-transform: uppercase;

  border-radius: clamp(2.9vw, 2.9vw, 56px);

  color: $colorWhite;
  background-color: $colorPrimary;

  transition: $transitionDuration;

  @include onHover {
    background-color: $colorSecondary;
  }

  @include onActive {
    background-color: rgba(134, 18, 74, 0.7);
  }

  @include onLaptopAndUp {
    padding: clamp(0.5vw, 0.5vw, 10px);

    display: flex;

    width: 13vw;
    max-width: 250px;

    font-size: clamp(1vw, 1vw, 20px);
  }

  &.secondary {
    display: flex;

    text-transform: capitalize;

    border-radius: 52px;

    background-color: $colorWhite;
    color: $colorPrimary;

    @include onHover {
      background-color: $colorBackground;
    }

    @include onTabletAndUp {
      max-width: 285px;

      font-size: $text-24;
    }

    @include onLaptopAndUp {
      width: 17vw;
      max-width: 333px;

      font-size: clamp(1.45vw, 1.45vw, 28px);
      line-height: clamp(2.29vw, 2.29vw, 44px);

      border-radius: clamp(3.9vw, 3.9vw, 75px);
    }
  }
}