@import '../../styles/generals';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $colorBackground;
  border-bottom: 1px solid transparent;

  transition-duration: $transitionDuration;

  @include onLaptopAndUp {
    height: 12vh;
    max-height: 110px;
  }

  &.active {
    border-color: rgba(215, 2, 99, 0.5);
  }
}

.wrapper {
  padding: 13px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @include onLaptopAndUp {
    gap: clamp(0.9vw, 0.9vw, 18px);
    justify-content: start;
  }
}

.logo {
  position: relative;

  width: 80px;
  height: 40px;

  display: flex;
  justify-content: start;
  align-items: center;

  @include onLaptopAndUp {
    width: clamp(7.8vw,7.8vw,150px);
    height: 60px;
  }
}

.logoImg {
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: left;

  -webkit-user-select: none;
}