@import '../../styles/generals';

.wrapper {
  padding: 40px 0;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  justify-items: center;
  align-items: center;
  gap: 35px;

  @include onTabletAndUp {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}


.logo {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 109px;
  height: 52px;

  @include exceptLastChild {
    margin-bottom: 1rem;
  }

  @include onLaptopAndUp {
    width: 150px;
    height: 75px;
  }

  @include onDesktopAndUp {
    width: 188px;
    height: 90px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.followUs {
  color: $colorPrimary;

  text-transform: uppercase;
  text-align: center;

  @include onTabletAndUp {
    color: $colorWhite;
  }

  @include onLaptopAndUp {
    font-size: $text-18;
  }

  @include onDesktopAndUp {
    font-size: $text-22;
  }
}

.link {
  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $colorPrimary;
  border-radius: 50%;

  transition-duration: $transitionDuration;

  @include onHover {
    transform: $transformScale;
  }

  @include onLaptopAndUp {
    width: 55px;
    height: 55px;
  }
}

.marketButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include exceptLastChild {
    margin-bottom: 2rem;
  }

  @include onTabletAndUp {
    order: 4;

    flex-direction: column;
    gap: 2rem;

    @include exceptLastChild {
      margin-bottom: 0;
    }
  }
}

.marketButton {
  position: relative;

  width: 155px;
  height: 45px;

  @include onLaptopAndUp {
    width: 186px;
    height: 55px;
  }

  @include onDesktopAndUp {
    width: 216px;
    height: 64px;
  }
}

.button {
  object-fit: contain;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include onTabletAndUp {
    order: 3;

    flex-direction: column;
    gap: 1.2rem;
  }
}

.navLink {
  position: relative;

  color: $colorWhite;

  font-size: $text-18;

  transition-duration: $transitionDuration;

  &:hover {
    color: $colorPrimary;
  }

  @include onDesktopAndUp {
    font-size: $text-22;
  }
}

