@import '../../../styles/generals';

.wrapper {
  padding: 60px 0;

  @include onLaptopAndUp {
    padding: clamp(5.2vw, 5.2vw, 100px) 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @include exceptLastChild {
    margin-bottom: 50px;
  }

  @include onLaptopAndUp {
    gap: clamp(0.7vw, 0.7vw, 15px);

    @include exceptLastChild {
      margin-bottom: clamp(2vw, 2vw, 40px);
    }
  }
}

.title {
  @include titleSmall;

  color: $colorPrimary;
}

.text {
  max-width: 750px;
  width: 100%;

  font-size: $text-14;
  text-align: center;

  @include onTabletAndUp {
    font-size: $text-16;
  }

  @include onLaptopAndUp {
    width: 64.2vw;
    max-width: 1233px;

    font-size: clamp(1.25vw, 1.25vw, 24px);
  }
}

.list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.5rem;

  @include onLaptopAndUp {
    width: 75.5vw;
    max-width: 1450px;

    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: clamp(2.6vw, 2.6vw, 50px);
  }
}