@import '../../../styles/generals';

.info {
  padding: 24px 0 44px 0;

  @include onLaptopAndUp {
    padding: clamp(4.9vw, 4.9vw, 94px) 0 clamp(1.35vw, 1.35vw, 26px) 0;
  }
}

.wrapper {
  padding: 52px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;

  background-color: rgba(215, 2, 99, 0.58);

  @include onLaptopAndUp {
    padding: clamp(3.4vw, 3.4vw, 65px) clamp(1.1vw, 1.1vw, 21px);
  }

  @include onLaptopAndUp {
    border-radius: clamp(2.3vw, 2.3vw, 45px);
  }
}

.title {
  color: $colorWhite;

  font-size: $text-24;
  font-weight: $fontWeightBold;
  line-height: $lineHeightAdditional;

  text-align: center;

  @include exceptLastChild {
    margin-bottom: 16px;

    @include onLaptopAndUp {
      margin-bottom: clamp(0.9vw, 0.9vw, 18px);
    }
  }

  @include onTabletAndUp {
    font-size: $text-28;
  }

  @include onLaptopAndUp {
    font-size: clamp(3.125vw, 3.125vw, 60px);
  }
}

.text {
  max-width: 1040px;
  width: 100%;

  color: #FFFFFFD4;

  font-size: $text-14;
  text-align: center;

  @include exceptLastChild {
    margin-bottom: 32px;

    @include onLaptopAndUp {
      margin-bottom: clamp(2.7vw, 2.7vw, 52px);
    }
  }

  @include onTabletAndUp {
    font-size: $text-16;
  }

  @include onLaptopAndUp {
    width: 63.1vw;
    max-width: 1213px;

    font-size: clamp(1.25vw, 1.25vw, 24px);
  }
}