@import '../../../styles/generals';

.navigation {
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 9;

  width: 100vw;
  height: calc(100vh - 65px);

  background-color: $colorBackground;

  transform: translateX(100%);

  transition-duration: 0.5s;

  &.active {
    transform: translateX(0);
  }

  @include onLaptopAndUp {
    position: relative;
    top: unset;
    left: unset;

    margin-left: auto;

    width: max-content;
    height: auto;

    background-color: transparent;

    transform: unset;
  }
}

.wrapper {
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  @include onTabletAndUp {
    gap: 2.5rem;
  }

  @include onLaptopAndUp {
    padding: 0;

    gap: clamp(2.6vw, 2.6vw, 55px);
    flex-direction: row;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @include onLaptopAndUp {
    flex-direction: row;
    gap: clamp(1.9vw, 1.9vw, 37px);
  }
}

.link {
  position: relative;

  display: flex;

  font-size: $text-18;
  font-weight: $fontWeightMedium;
  color: $colorWhite;

  transition-duration: $transitionDuration;

  @include onHover {
    color: $colorSecondary;
  }

  @include onActive {
    color: #86124AB2;
  }

  @include onTabletAndUp {
    font-size: $text-22;
  }

  @include onLaptopAndUp {
    padding: 10px;

    font-size: clamp(1.1vw, 1.1vw, 21px);
  }
}